dist: trusty
sudo: required

services: docker

language: bash

branches:
  only:
    - master

before_script:
  - env | sort
  - dir="images/${VERSION}/php${PHP_VERSION}-${VARIANT}"

script:
  - cd "$dir"
  - docker-compose build
  - docker images
  - travis_retry docker-compose up -d && sleep 60
  - docker-compose ps
  - docker-compose logs
  - docker-compose ps "dolibarrdb" | grep "Up"
  - docker-compose ps "dolibarr" | grep "Up"

notifications:
  email: false

env: # Environments
    - VERSION=5.0 PHP_VERSION=7.1 VARIANT=fpm-alpine
    - VERSION=5.0 PHP_VERSION=7.1 VARIANT=fpm
    - VERSION=5.0 PHP_VERSION=7.1 VARIANT=apache
    - VERSION=6.0 PHP_VERSION=7.1 VARIANT=fpm-alpine
    - VERSION=6.0 PHP_VERSION=7.1 VARIANT=fpm
    - VERSION=6.0 PHP_VERSION=7.1 VARIANT=apache
    - VERSION=7.0 PHP_VERSION=7.1 VARIANT=fpm-alpine
    - VERSION=7.0 PHP_VERSION=7.1 VARIANT=fpm
    - VERSION=7.0 PHP_VERSION=7.1 VARIANT=apache
    - VERSION=8.0 PHP_VERSION=7.1 VARIANT=fpm-alpine
    - VERSION=8.0 PHP_VERSION=7.1 VARIANT=fpm
    - VERSION=8.0 PHP_VERSION=7.1 VARIANT=apache
    - VERSION=9.0 PHP_VERSION=7.1 VARIANT=fpm-alpine
    - VERSION=9.0 PHP_VERSION=7.1 VARIANT=fpm
    - VERSION=9.0 PHP_VERSION=7.1 VARIANT=apache
