os: linux
dist: trusty

services: docker

language: shell

branches:
  only:
    - master

before_script:
  - env | sort
  - dir="images/${VERSION}/php${PHP_VERSION}-${VARIANT}"

script:
  - cd "$dir"
  - docker-compose build
  - docker images
  - travis_retry docker-compose up -d && sleep 90
  - docker-compose ps
  - docker-compose logs
  - docker-compose ps "dolibarrdb" | grep "Up"
  - docker-compose ps "dolibarr" | grep "Up"

notifications:
  email: false

env: # Environments
    - VERSION=develop PHP_VERSION=7.2 VARIANT=fpm-alpine
    - VERSION=develop PHP_VERSION=7.2 VARIANT=fpm
    - VERSION=develop PHP_VERSION=7.2 VARIANT=apache
    - VERSION=6.0 PHP_VERSION=7.2 VARIANT=fpm-alpine
    - VERSION=6.0 PHP_VERSION=7.2 VARIANT=fpm
    - VERSION=6.0 PHP_VERSION=7.2 VARIANT=apache
    - VERSION=7.0 PHP_VERSION=7.2 VARIANT=fpm-alpine
    - VERSION=7.0 PHP_VERSION=7.2 VARIANT=fpm
    - VERSION=7.0 PHP_VERSION=7.2 VARIANT=apache
    - VERSION=8.0 PHP_VERSION=7.2 VARIANT=fpm-alpine
    - VERSION=8.0 PHP_VERSION=7.2 VARIANT=fpm
    - VERSION=8.0 PHP_VERSION=7.2 VARIANT=apache
    - VERSION=9.0 PHP_VERSION=7.2 VARIANT=fpm-alpine
    - VERSION=9.0 PHP_VERSION=7.2 VARIANT=fpm
    - VERSION=9.0 PHP_VERSION=7.2 VARIANT=apache
    - VERSION=10.0 PHP_VERSION=7.2 VARIANT=fpm-alpine
    - VERSION=10.0 PHP_VERSION=7.2 VARIANT=fpm
    - VERSION=10.0 PHP_VERSION=7.2 VARIANT=apache
