services: docker

language: shell

branches:
  only:
    - master

before_script:
  - env | sort
  - dir="images/${VERSION}/php${PHP_VERSION}-${VARIANT}-${ARCHI}"
  - export TAG=travis
  - export VCS_REF=`git rev-parse --short HEAD`
  - export BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"`
  - export IMAGE_NAME=docker-dolibarr

script:
  - cd "$dir"
  # Test container build
  - docker-compose build
  - docker images
  # Test container run
  - travis_retry docker-compose up -d && sleep 90
  - docker-compose ps
  - docker-compose logs "dolibarrdb"
  - docker-compose ps "dolibarrdb" | grep "Up"
  - docker-compose logs "dolibarr"
  - docker-compose ps "dolibarr" | grep "Up"
  # Test container restart
  - docker-compose down
  - travis_retry docker-compose up -d && sleep 90
  - docker-compose ps
  - docker-compose logs "dolibarrdb"
  - docker-compose ps "dolibarrdb" | grep "Up"
  - docker-compose logs "dolibarr"
  - docker-compose ps "dolibarr" | grep "Up"

notifications:
  email: false

matrix:
  include:
    - os: linux
      # Ref: https://docs.travis-ci.com/user/reference/linux
      dist: xenial
    - os: osx
      # Ref: https://docs.travis-ci.com/user/reference/osx
      osx_image: xcode11.3

env: # Environments
    - VERSION=develop PHP_VERSION=7.2 VARIANT=fpm-alpine ARCHI=i386
    - VERSION=develop PHP_VERSION=7.2 VARIANT=fpm-alpine ARCHI=amd64
    - VERSION=develop PHP_VERSION=7.2 VARIANT=fpm ARCHI=i386
    - VERSION=develop PHP_VERSION=7.2 VARIANT=fpm ARCHI=amd64
    - VERSION=develop PHP_VERSION=7.2 VARIANT=apache ARCHI=i386
    - VERSION=develop PHP_VERSION=7.2 VARIANT=apache ARCHI=amd64
    - VERSION=6.0 PHP_VERSION=7.2 VARIANT=fpm-alpine ARCHI=i386
    - VERSION=6.0 PHP_VERSION=7.2 VARIANT=fpm-alpine ARCHI=amd64
    - VERSION=6.0 PHP_VERSION=7.2 VARIANT=fpm ARCHI=i386
    - VERSION=6.0 PHP_VERSION=7.2 VARIANT=fpm ARCHI=amd64
    - VERSION=6.0 PHP_VERSION=7.2 VARIANT=apache ARCHI=i386
    - VERSION=6.0 PHP_VERSION=7.2 VARIANT=apache ARCHI=amd64
    - VERSION=7.0 PHP_VERSION=7.2 VARIANT=fpm-alpine ARCHI=i386
    - VERSION=7.0 PHP_VERSION=7.2 VARIANT=fpm-alpine ARCHI=amd64
    - VERSION=7.0 PHP_VERSION=7.2 VARIANT=fpm ARCHI=i386
    - VERSION=7.0 PHP_VERSION=7.2 VARIANT=fpm ARCHI=amd64
    - VERSION=7.0 PHP_VERSION=7.2 VARIANT=apache ARCHI=i386
    - VERSION=7.0 PHP_VERSION=7.2 VARIANT=apache ARCHI=amd64
    - VERSION=8.0 PHP_VERSION=7.2 VARIANT=fpm-alpine ARCHI=i386
    - VERSION=8.0 PHP_VERSION=7.2 VARIANT=fpm-alpine ARCHI=amd64
    - VERSION=8.0 PHP_VERSION=7.2 VARIANT=fpm ARCHI=i386
    - VERSION=8.0 PHP_VERSION=7.2 VARIANT=fpm ARCHI=amd64
    - VERSION=8.0 PHP_VERSION=7.2 VARIANT=apache ARCHI=i386
    - VERSION=8.0 PHP_VERSION=7.2 VARIANT=apache ARCHI=amd64
    - VERSION=9.0 PHP_VERSION=7.2 VARIANT=fpm-alpine ARCHI=i386
    - VERSION=9.0 PHP_VERSION=7.2 VARIANT=fpm-alpine ARCHI=amd64
    - VERSION=9.0 PHP_VERSION=7.2 VARIANT=fpm ARCHI=i386
    - VERSION=9.0 PHP_VERSION=7.2 VARIANT=fpm ARCHI=amd64
    - VERSION=9.0 PHP_VERSION=7.2 VARIANT=apache ARCHI=i386
    - VERSION=9.0 PHP_VERSION=7.2 VARIANT=apache ARCHI=amd64
    - VERSION=10.0 PHP_VERSION=7.2 VARIANT=fpm-alpine ARCHI=i386
    - VERSION=10.0 PHP_VERSION=7.2 VARIANT=fpm-alpine ARCHI=amd64
    - VERSION=10.0 PHP_VERSION=7.2 VARIANT=fpm ARCHI=i386
    - VERSION=10.0 PHP_VERSION=7.2 VARIANT=fpm ARCHI=amd64
    - VERSION=10.0 PHP_VERSION=7.2 VARIANT=apache ARCHI=i386
    - VERSION=10.0 PHP_VERSION=7.2 VARIANT=apache ARCHI=amd64
    - VERSION=11.0 PHP_VERSION=7.2 VARIANT=fpm-alpine ARCHI=i386
    - VERSION=11.0 PHP_VERSION=7.2 VARIANT=fpm-alpine ARCHI=amd64
    - VERSION=11.0 PHP_VERSION=7.2 VARIANT=fpm ARCHI=i386
    - VERSION=11.0 PHP_VERSION=7.2 VARIANT=fpm ARCHI=amd64
    - VERSION=11.0 PHP_VERSION=7.2 VARIANT=apache ARCHI=i386
    - VERSION=11.0 PHP_VERSION=7.2 VARIANT=apache ARCHI=amd64
